---
layout: page.liquid
---

<article class="grid grid-rows-[max-content_auto] grid-cols-[1fr_3fr] h-full">
	<header class="col-span-2 max-h-max">
		<h1>{{-name[lang]-}}</h1>
		<p>{{-kicker[lang]-}}</p>
	</header>
	<section>
		<header>
			<h2>Education</h2>
		</header>
	</section>
	<section>
	</section>
</article>
