---
layout: base.liquid
---
<header title="{{-name[lang]-}}" class="print:hidden items-center justify-end gap-3 flex">
	<button>{{-messages.print[lang]-}}</button>
	<button>{{-messages.download[lang]-}}</button>
	<div class="w-14 lg:w-32">
    {%-render
    'langswitcher.liquid',
    langs: langs,
    lang: lang,
    -%}
    </div>
</header>
<main>
	<article class="grid auto-rows-max grid-cols-[1fr_3fr] h-full">
		<header class="col-span-2 max-h-max">
			<h1>{{-name[lang]-}}</h1>
		</header>
		<section>
			<header>
				<p>Education</p>
			</header>
		</section>
		<section>
		</section>
	</article>
</main>
<footer class="print:hidden text-center">
	&copy; Kevin Samuel 2025
</footer>
